.TodoContainer {
  width: 45%;
  padding: 30px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.TodoContainer h1 {
  margin-top: 0;
}

.TodoList {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.TodoList span {
  margin-top: 5px
}

@media only screen and (max-width: 1305px) {
  .Todo {
    width: 100%;
    margin-right: 0;
  }
}