.redButton {
  background-color: red;
}
.greenButton {
  background-color: #4caf50;
}
.button {
  color: white;
  padding: 10px 16px;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor:pointer;
}
